@import "tailwindcss";

@theme {
  --color-shadow-1: #FCFCFC;
  --color-shadow-2: #F3F3F3;
  --color-shadow-3: #C9C9C9;
  --color-shadow-4: #A6A6A6;
  --color-shadow-5: #8C8C8C;
  --color-shadow-6: #737373;
  --color-shadow-7: #595959;
  --color-shadow-8: #404040;
  --color-shadow-9: #0D0D0D;
  --color-shadow-10: #000000;

    
}